.layout {
  min-height: 100vh;
  margin: -8px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: ghostwhite;
  text-align: left;
  font-size: 200%;
  font: bold;
}

.content {
  background-color: white;
  text-align: center;
  display: unset;
  flex-direction: column;
}

.footer {
  background-color: ghostwhite;
  text-align: center;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: grey;
}

a:hover {
  color: rgb(45, 45, 45);
}
